In [54]:
import pandas as pd

# Cargar los datos CSV de Disney
disney_data = pd.read_csv('D:/cursos/challenge rockingdata/disney_plus_titles.csv')

# Cargar los datos CSV de Netflix
netflix_data = pd.read_csv('D:/cursos/challenge rockingdata/netflix_titles.csv', sep=';')

In [19]:
# Muestra de las primeras filas de Disney
print("Muestra de las primeras filas de Disney:")
print(disney_data.head())

Muestra de las primeras filas de Disney:
  show_id     type                                             title  \
0      s1    Movie  Duck the Halls: A Mickey Mouse Christmas Special
1      s2    Movie                            Ernest Saves Christmas
2      s3    Movie                      Ice Age: A Mammoth Christmas
3      s4    Movie                        The Queen Family Singalong
4      s5  TV Show                             The Beatles: Get Back

                            director  \
0  Alonso Ramirez Ramos, Dave Wasson
1                        John Cherry
2                       Karen Disher
3                    Hamish Hamilton
4                                NaN

                                                cast        country  \
0  Chris Diamantopoulos, Tony Anselmo, Tress MacN...            NaN
1           Jim Varney, Noelle Parker, Douglas Seale            NaN
2  Raymond Albert Romano, John Leguizamo, Denis L...  United States
3  Darren Criss, Adam Lambert, Derek Hough, Alexa...            NaN
4  John Lennon, Paul McCartney, George Harrison, ...            NaN

          date_added  release_year rating  duration  \
0  November 26, 2021          2016   TV-G    23 min
1  November 26, 2021          1988     PG    91 min
2  November 26, 2021          2011   TV-G    23 min
3  November 26, 2021          2021  TV-PG    41 min
4  November 25, 2021          2021    NaN  1 Season

                       listed_in  \
0              Animation, Family
1                         Comedy
2      Animation, Comedy, Family
3                        Musical
4  Docuseries, Historical, Music

                                         description
0   Join Mickey and the gang as they duck the halls!
1  Santa Claus passes his magic bag to a new St. ...
2          Sid the Sloth is on Santa's naughty list.
3               This is real life, not just fantasy!
4  A three-part documentary from Peter Jackson ca...

In [20]:
# Estadísticas resumidas para Disney
print("Estadísticas resumidas para Disney:")
print(disney_data.describe())

Estadísticas resumidas para Disney:
       release_year
count   1450.000000
mean    2003.091724
std       21.860162
min     1928.000000
25%     1999.000000
50%     2011.000000
75%     2018.000000
max     2021.000000

In [21]:
# Información del DataFrame para Disney
print("Información del DataFrame para Disney:")
print(disney_data.info())

Información del DataFrame para Disney:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB
None

In [22]:
# Comprobación de valores nulos para Disney
print("Comprobación de valores nulos para Disney:")
print(disney_data.isnull().sum())

Comprobación de valores nulos para Disney:
show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [10]:
# Comprobación de filas duplicadas para Disney
print("Comprobación de filas duplicadas para Disney:")
print(disney_data.duplicated().sum())

Comprobación de filas duplicadas para Disney:
0

In [29]:
# Muestra de las primeras filas de Netflix
print("Muestra de las primeras filas de Netflix:")
print(netflix_data.head())

Muestra de las primeras filas de Netflix:
  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added release_year rating   duration  \
0  September 25, 2021         2020  PG-13     90 min
1  September 24, 2021         2021  TV-MA  2 Seasons
2  September 24, 2021         2021  TV-MA   1 Season
3  September 24, 2021         2021  TV-MA   1 Season
4  September 24, 2021         2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [8]:
# Estadísticas resumidas para Netflix
print("Estadísticas resumidas para Netflix:")
print(netflix_data.describe())

Estadísticas resumidas para Netflix:
       show_id   type                 title       director  \
count     8809   8808                  8807           6173
unique    8809      3                  8807           4528
top         s1  Movie  Dick Johnson Is Dead  Rajiv Chilaka
freq         1   6131                     1             19

                      cast        country       date_added release_year  \
count                 7983           7976             8797         8807
unique                7693            749             1768           75
top     David Attenborough  United States  January 1, 2020         2018
freq                    19           2817              109         1147

       rating  duration                     listed_in  \
count    8803      8804                          8806
unique     18       221                           514
top     TV-MA  1 Season  Dramas, International Movies
freq     3207      1793                           362

                                              description
count                                                8806
unique                                               8774
top     Paranormal activity at a lush, abandoned prope...
freq                                                    4

In [9]:
# Información del DataFrame para Netflix
print("Información del DataFrame para Netflix:")
print(netflix_data.info())

Información del DataFrame para Netflix:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8809 entries, 0 to 8808
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8809 non-null   object
 1   type          8808 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7983 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   object
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8806 non-null   object
 11  description   8806 non-null   object
dtypes: object(12)
memory usage: 826.0+ KB
None

In [10]:
# Comprobación de valores nulos para Netflix
print("Comprobación de valores nulos para Netflix:")
print(netflix_data.isnull().sum())

Comprobación de valores nulos para Netflix:
show_id            0
type               1
title              2
director        2636
cast             826
country          833
date_added        12
release_year       2
rating             6
duration           5
listed_in          3
description        3
dtype: int64

In [11]:
# Comprobación de filas duplicadas para Netflix
print("Comprobación de filas duplicadas para Netflix:")
print(netflix_data.duplicated().sum())

Comprobación de filas duplicadas para Netflix:
0

In [ ]:

import unicodedata

# Ruta a los archivos CSV con caracteres incorrectos
netflix_file_path = 'D:/cursos/challenge rockingdata/netflix_titles.csv'
disney_file_path = 'D:/cursos/challenge rockingdata/disney_plus_titles.csv'

# Función para corregir caracteres UTF-8 mal interpretados
def corregir_caracteres(texto):
    try:
        texto = unicodedata.normalize('NFD', texto).encode('ascii', 'ignore').decode('utf-8')
        return texto
    except Exception as e:
        return texto

# Función para corregir caracteres en un archivo y guardar los datos corregidos
def corregir_caracteres_en_archivo(archivo_entrada, archivo_salida):
    data = pd.read_csv(archivo_entrada, sep=',')
    data = data.applymap(corregir_caracteres)
    data.to_csv(archivo_salida, index=False, sep=',', encoding='utf-8')
    return data

# Corregir caracteres en el archivo de Netflix y guardar los datos corregidos
netflix_data_corregido = corregir_caracteres_en_archivo(netflix_file_path, 'D:/cursos/challenge rockingdata/netflix_titles_corregidos.csv')

# Corregir caracteres en el archivo de Disney y guardar los datos corregidos
disney_data_corregido = corregir_caracteres_en_archivo(disney_file_path, 'D:/cursos/challenge rockingdata/disney_plus_titles_corregidos.csv')

# Muestra de las primeras filas de los datos corregidos
netflix_data_corregido.head()
disney_data_corregido.head()

In [40]:

# Rutas de los archivos corregidos
netflix_file_path = 'D:/cursos/challenge rockingdata/netflix_titles_corregidos.csv'
disney_file_path = 'D:/cursos/challenge rockingdata/disney_plus_titles_corregidos.csv'

# Cargar los datos corregidos de Netflix y Disney
netflix_data = pd.read_csv(netflix_file_path, sep=',')
disney_data = pd.read_csv(disney_file_path, sep=',')

# Agregar una columna 'plataforma' con el identificador numérico de plataforma
netflix_data['plataforma'] = 1  # 1 representa Netflix
disney_data['plataforma'] = 2  # 2 representa Disney+

# Reorganizar el orden de las columnas para que 'plataforma' sea la primera
netflix_data = netflix_data[['plataforma'] + [col for col in netflix_data.columns if col != 'plataforma']]
disney_data = disney_data[['plataforma'] + [col for col in disney_data.columns if col != 'plataforma']]

# Concatenar los DataFrames de Netflix y Disney
datos_combinados = pd.concat([netflix_data, disney_data], ignore_index=True)

# Convertir la columna 'date_added' a tipo datetime
datos_combinados['date_added'] = pd.to_datetime(datos_combinados['date_added'], errors='coerce')

# Guardar los datos combinados en un nuevo archivo CSV
output_combined_file_path = 'D:/cursos/challenge rockingdata/netflix_disney_combined.csv'
datos_combinados.to_csv(output_combined_file_path, index=False, sep=';', encoding='utf-8')  # Guardar como CSV con comas como delimitador y codificación UTF-8

# Muestra de las primeras filas de los datos combinados
datos_combinados.head()

,plataforma,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,1,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,1,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,1,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,1,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [40]:


csv_file = 'netflix_disney_combined.csv'

data = pd.read_csv(csv_file, sep=';')

# Modificar la columna 'show_id' en el DataFrame para eliminar 'S' en minúscula o mayúscula
data['show_id'] = data['show_id'].str.replace('[Ss]', '', regex=True)

# Guardar los datos modificados en un nuevo archivo CSV
new_csv_file = 'netflix_disney_combined_modified.csv'
data.to_csv(new_csv_file, sep=';', index=False)

,plataforma,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,1,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,1,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,1,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,1,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [40]:


csv_file = 'netflix_disney_combined_modified.csv'  

data = pd.read_csv(csv_file, sep=';')

# Crear un nuevo DataFrame para almacenar los datos actualizados
new_data = data.copy()

# Inicializar el contador de show_id
show_id_counter = 1

# Actualizar la columna 'show_id' para que cuente sin interrupción
new_data['show_id'] = show_id_counter

for index, row in new_data.iterrows():
    new_data.at[index, 'show_id'] = show_id_counter
    show_id_counter += 1

# Guardar los datos actualizados en un nuevo archivo CSV
new_csv_file = 'netflix_disney_combined_continuous_show_id.csv'
new_data.to_csv(new_csv_file, sep=';', index=False)

print("Datos actualizados guardados en", new_csv_file)

,plataforma,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,1,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,1,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,1,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,1,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [58]:

from importdb import PostgreSQLConnection

csv_file = 'netflix_disney_combined_continuous_show_id.csv'

data = pd.read_csv(csv_file, sep=';')

db_connection = PostgreSQLConnection()

# Obtener valores únicos de la columna 'plataforma'
unique_platforms = data['plataforma'].unique()

# Crear un DataFrame para insertar en la tabla Platforms
platform_data = pd.DataFrame({'platform_name': ['Netflix' if platform == 1 else 'Disney' for platform in unique_platforms]})

# Insertar los datos en la tabla Platforms
db_connection.save_data_to_postgres('platforms', platform_data)

platforms created

In [59]:

from importdb import PostgreSQLConnection

# Ruta del archivo CSV
csv_file = 'netflix_disney_combined_continuous_show_id.csv'

# Cargar los datos del CSV en un DataFrame
data = pd.read_csv(csv_file, sep=';')

# Reemplazar los valores nulos en la columna 'type' con la cadena 'null'
data['type'].fillna('null', inplace=True)

db_connection = PostgreSQLConnection()

# Obtener valores únicos de la columna 'type'
unique_show_types = data['type'].unique()

# Crear un DataFrame para insertar en la tabla ShowType
showtype_data = pd.DataFrame({'type_name': unique_show_types})

# Insertar los datos en la tabla ShowType
db_connection.save_data_to_postgres('showtype', showtype_data)

showtype created

In [60]:

from importdb import PostgreSQLConnection

# Crear un DataFrame con los valores 'Director' y 'Actor'
role_data = pd.DataFrame({'role_name': ['Director', 'Actor']})

db_connection = PostgreSQLConnection()

# Insertar los datos en la tabla Role
db_connection.save_data_to_postgres('role', role_data)

role created

In [61]:

from importdb import PostgreSQLConnection

csv_file = 'netflix_disney_combined_continuous_show_id.csv'

data = pd.read_csv(csv_file, sep=';')

# Crear una instancia de PostgreSQLConnection
db_connection = PostgreSQLConnection()

# Extraer nombres de directores y actores
directors = data['director'].str.split(', ').explode()
cast = data['cast'].str.split(', ').explode()

# Concatenar y obtener nombres únicos
unique_names = pd.concat([directors, cast]).dropna().unique()

# Crear un DataFrame para insertar en la tabla Person
person_data = pd.DataFrame({'full_name': unique_names})
person_data['id_person'] = range(1, len(person_data) + 1)

# Insertar los datos en la tabla Person
db_connection.save_data_to_postgres('person', person_data)

person created

In [62]:

from importdb import PostgreSQLConnection

csv_file = 'netflix_disney_combined_continuous_show_id.csv'

data = pd.read_csv(csv_file, sep=';')

db_connection = PostgreSQLConnection()

# Extraer valores únicos de la columna 'rating'
unique_ratings = data['rating'].dropna().unique()

# Crear un DataFrame para insertar en la tabla Rating
rating_data = pd.DataFrame({'rating_name': unique_ratings})

# Insertar los datos en la tabla Rating
db_connection.save_data_to_postgres('rating', rating_data)

rating created

In [63]:
from importdb import PostgreSQLConnection
from datetime import datetime

csv_file = 'netflix_disney_combined_continuous_show_id.csv'

data = pd.read_csv(csv_file, sep=';')

db_connection = PostgreSQLConnection()

# Mapeo de tipo de show a valores numéricos
showtype_mapping = {
    'Movie': 1,
    'TV Show': 2
}

# Convertir el campo 'type' en 'id_showtype'
data['id_showtype'] = data['type'].map(showtype_mapping)

# Agregar una nueva columna 'duration_str' que contiene "min" o "season"
data['duration_str'] = data['duration'].str.extract(r'(\D+)')

# Seleccionar las columnas necesarias
selected_columns = [
    'plataforma', 'id_showtype', 'title', 'date_added', 'duration', 'duration_str',
    'release_year', 'listed_in', 'description'
]

# Renombrar las columnas para que coincidan con la base de datos
data = data[selected_columns]
data.columns = [
    'id_platform', 'id_showtype', 'title', 'date_added', 'duration', 'duration_str',
    'release_year', 'listed_in', 'description'
]

# Modificar el campo 'duration' para extraer el número
data['duration'] = data['duration'].str.extract(r'(\d+)').fillna(0).astype(int)

# Convertir el campo 'date_added' al formato adecuado
def parse_date(date_str):
    if pd.isna(date_str):
        return None
    formats = ["%d/%m/%Y", "%B %d, Y"]
    for date_format in formats:
        try:
            return datetime.strptime(date_str, date_format).strftime("%Y-%m-%d")
        except ValueError:
            continue
    return None

data['date_added'] = data['date_added'].apply(lambda x: parse_date(x) if isinstance(x, str) else None)

# Insertar los datos en la tabla 'Shows'
db_connection.save_data_to_postgres('shows', data)

shows created

In [64]:
from importdb import PostgreSQLConnection

csv_file = 'netflix_disney_combined_continuous_show_id.csv'

data = pd.read_csv(csv_file, sep=';')

# Crea una lista para almacenar los países únicos
unique_countries = []

# Divide el campo "country" en celdas separadas para manejar múltiples países
for countries in data['country']:
    if isinstance(countries, str):
        countries = countries.split(',')
        for country in countries:
            cleaned_country = country.strip()  # Limpia el nombre del país
            if cleaned_country not in unique_countries:
                unique_countries.append(cleaned_country)

db_connection = PostgreSQLConnection()

# Crea un DataFrame con id_country serial y country_name
country_data = pd.DataFrame({'country_name': unique_countries})

# Inserta los datos en la tabla 'country' (si no existen)
db_connection.save_data_to_postgres('country', country_data)

print("Operación completada.")

country created
Operación completada.

In [65]:
csv_file = 'netflix_disney_combined_continuous_show_id.csv'

data = pd.read_csv(csv_file, sep=';')

# Crear un nuevo DataFrame con las columnas requeridas
df_temp_director = data[['show_id', 'director']].copy()

# Renombrar la columna 'director' a 'full_name'
df_temp_director = df_temp_director.rename(columns={'director': 'full_name'})
df_temp_director = df_temp_director.rename(columns={'show_id': 'id_show'})

In [66]:

df_temp_director['full_name'] = df_temp_director['full_name'].astype(str).str.split(', ')

In [67]:
df_temp_director = df_temp_director.explode('full_name')

df_temp_director.head(20)

    id_show               full_name
0         1         Kirsten Johnson
1         2                     nan
2         3         Julien Leclercq
3         4                     nan
4         5                     nan
5         6           Mike Flanagan
6         7           Robert Cullen
6         7          Jose Luis Ucha
7         8            Haile Gerima
8         9         Andy Devonshire
9        10          Theodore Melfi
10       11                     nan
11       12       Kongkiat Komesiri
12       13     Christian Schwochow
13       14           Bruno Garotti
14       15                     nan
15       16                     nan
16       17  Pedro de Echave Garcia
16       17   Pablo Azorin Williams
17       18                     nan

In [68]:

data = pd.read_csv(csv_file, sep=';')

# Crear un nuevo DataFrame con las columnas requeridas
df_temp_cast = data[['show_id', 'cast']].copy()

# Renombrar la columna 'director' a 'full_name'
df_temp_cast = df_temp_cast.rename(columns={'cast': 'full_name'})
df_temp_cast = df_temp_cast.rename(columns={'show_id': 'id_show'})

df_temp_cast['full_name'] = df_temp_cast['full_name'].astype(str).str.split(', ')

df_temp_cast = df_temp_cast.explode('full_name')

df_temp_cast.head(20)

   id_show             full_name
0        1                   nan
1        2            Ama Qamata
1        2           Khosi Ngema
1        2         Gail Mabalane
1        2        Thabang Molaba
1        2      Dillon Windvogel
1        2       Natasha Thahane
1        2           Arno Greeff
1        2     Xolile Tshabalala
1        2       Getmore Sithole
1        2        Cindy Mahlangu
1        2         Ryle De Morny
1        2       Greteli Fincham
1        2  Sello Maake Ka-Ncube
1        2           Odwa Gwanya
1        2        Mekaila Mathys
1        2         Sandi Schultz
1        2        Duane Williams
1        2       Shamilla Miller
1        2      Patrick Mofokeng

In [69]:
df_temp_director= df_temp_director.assign(id_role=1)
df_temp_cast= df_temp_cast.assign(id_role=2)

df_temp_director.head(5)

   id_show        full_name  id_role
0        1  Kirsten Johnson        1
1        2              nan        1
2        3  Julien Leclercq        1
3        4              nan        1
4        5              nan        1

In [199]:
df_temp_cast.head(5)

   id_show       full_name  id_role
0        1             nan        2
1        2      Ama Qamata        2
1        2     Khosi Ngema        2
1        2   Gail Mabalane        2
1        2  Thabang Molaba        2

In [80]:

df_casting=pd.concat([df_temp_director, df_temp_cast], axis=0, sort = False)
df_casting.head(20)

    id_show               full_name  id_role
0         1         Kirsten Johnson        1
1         2                     nan        1
2         3         Julien Leclercq        1
3         4                     nan        1
4         5                     nan        1
5         6           Mike Flanagan        1
6         7           Robert Cullen        1
6         7          Jose Luis Ucha        1
7         8            Haile Gerima        1
8         9         Andy Devonshire        1
9        10          Theodore Melfi        1
10       11                     nan        1
11       12       Kongkiat Komesiri        1
12       13     Christian Schwochow        1
13       14           Bruno Garotti        1
14       15                     nan        1
15       16                     nan        1
16       17  Pedro de Echave Garcia        1
16       17   Pablo Azorin Williams        1
17       18                     nan        1

In [81]:
result = pd.merge(df_casting, person_data, on='full_name', how='left')

df_casting = result[['id_person', 'id_show', 'id_role']]

df_casting.head(10)

   id_person  id_show  id_role
0        1.0        1        1
1        NaN        2        1
2        2.0        3        1
3        NaN        4        1
4        NaN        5        1
5        3.0        6        1
6        4.0        7        1
7        5.0        7        1
8        6.0        8        1
9        7.0        9        1

In [82]:
df_casting = df_casting.dropna(subset=['id_person'])

df_casting.head(20)

    id_person  id_show  id_role
0         1.0        1        1
2         2.0        3        1
5         3.0        6        1
6         4.0        7        1
7         5.0        7        1
8         6.0        8        1
9         7.0        9        1
10        8.0       10        1
12        9.0       12        1
13       10.0       13        1
14       11.0       14        1
17       12.0       17        1
18       13.0       17        1
20       14.0       19        1
22       15.0       21        1
24       16.0       23        1
25       17.0       24        1
26       18.0       24        1
27       19.0       25        1
29       20.0       27        1

In [83]:
df_casting['id_person'] = df_casting['id_person'].fillna(0).astype(int)

In [84]:
df_casting['id_person'] = df_casting['id_person'].astype(int)

df_casting.head(6)

   id_person  id_show  id_role
0          1        1        1
2          2        3        1
5          3        6        1
6          4        7        1
7          5        7        1
8          6        8        1

In [85]:
df_casting = df_casting.drop_duplicates(subset=['id_person', 'id_show', 'id_role'], keep='first')

In [86]:

db_connection.save_data_to_postgres('casting', df_casting)

casting created

In [87]:


data = pd.read_csv(csv_file, sep=';')

In [88]:


rating_data['id_rating'] = range(1, len(rating_data) + 1)


rating_data.head(5)

  rating_name  id_rating
0       PG-13          1
1       TV-MA          2
2          PG          3
3       TV-14          4
4       TV-PG          5

In [89]:
data = data.merge(rating_data, left_on='rating', right_on='rating_name', how='left')

data.head(5)

,plataforma,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,rating_name,id_rating
0,1,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25/9/2021,2020.0,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",PG-13,1.0
1,1,2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",TV-MA,2.0
2,1,3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24/9/2021,2021.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,TV-MA,2.0
3,1,4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24/9/2021,2021.0,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",TV-MA,2.0
4,1,5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,TV-MA,2.0

In [90]:
data = data.drop('rating_name', axis=1)
data.head(5)

,plataforma,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id_rating
0,1,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25/9/2021,2020.0,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1.0
1,1,2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2.0
2,1,3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24/9/2021,2021.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2.0
3,1,4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24/9/2021,2021.0,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2.0
4,1,5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2.0

In [91]:
data = data.dropna(subset=['id_rating'])
data.head(5)

,plataforma,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id_rating
0,1,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25/9/2021,2020.0,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1.0
1,1,2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2.0
2,1,3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24/9/2021,2021.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2.0
3,1,4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24/9/2021,2021.0,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2.0
4,1,5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2.0

In [92]:
data['id_rating'] = data['id_rating'].astype(int)
data.head(5)

,plataforma,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id_rating
0,1,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25/9/2021,2020.0,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1
1,1,2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2
2,1,3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24/9/2021,2021.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2
3,1,4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24/9/2021,2021.0,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2
4,1,5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2

In [93]:
# Asignar un id_showtype único a cada showtype en showtype_data
showtype_data['id_showtype'] = range(1, len(showtype_data) + 1)
showtype_data.head(5)

  type_name  id_showtype
0     Movie            1
1   TV Show            2
2      null            3

In [94]:
data = data.merge(showtype_data, left_on='type', right_on='type_name', how='left')
data.head(5)

,plataforma,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id_rating,type_name,id_showtype
0,1,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25/9/2021,2020.0,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1,Movie,1
1,1,2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2,TV Show,2
2,1,3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24/9/2021,2021.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2,TV Show,2
3,1,4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24/9/2021,2021.0,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2,TV Show,2
4,1,5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2,TV Show,2

In [95]:

data = data.dropna(subset=['id_showtype'])
data.head(5)

,plataforma,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id_rating,type_name,id_showtype
0,1,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25/9/2021,2020.0,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1,Movie,1
1,1,2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2,TV Show,2
2,1,3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24/9/2021,2021.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2,TV Show,2
3,1,4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24/9/2021,2021.0,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2,TV Show,2
4,1,5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2,TV Show,2

In [97]:
data = data.rename(columns={'show_id': 'id_show'})  
data.head(5)

,plataforma,id_show,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id_rating,type_name,id_showtype
0,1,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25/9/2021,2020.0,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1,Movie,1
1,1,2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2,TV Show,2
2,1,3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24/9/2021,2021.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2,TV Show,2
3,1,4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24/9/2021,2021.0,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2,TV Show,2
4,1,5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2,TV Show,2

In [98]:
fact_data = data[['id_show', 'id_showtype', 'id_rating']]
fact_data.head(5)

   id_show  id_showtype  id_rating
0        1            1          1
1        2            2          2
2        3            2          2
3        4            2          2
4        5            2          2

In [99]:
db_connection.save_data_to_postgres('fact', fact_data)

fact created

In [115]:

data = pd.read_csv(csv_file, sep=';')

In [116]:
country_data['id_country'] = country_data.index + 1
country_data.head(5)

    country_name  id_country
0  United States           1
1   South Africa           2
2          India           3
3          Ghana           4
4   Burkina Faso           5

In [117]:
data = data.merge(country_data, left_on='country', right_on='country_name', how='left')

data.head(5)

,plataforma,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,country_name,id_country
0,1,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25/9/2021,2020.0,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",United States,1.0
1,1,2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",South Africa,2.0
2,1,3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24/9/2021,2021.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,NaN
3,1,4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24/9/2021,2021.0,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,NaN
4,1,5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,India,3.0

In [120]:
data = data.dropna(subset=['id_country'])
data.head(5)

,plataforma,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,country_name,id_country
0,1,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25/9/2021,2020.0,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",United States,1
1,1,2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",South Africa,2
4,1,5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,India,3
8,1,9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,24/9/2021,2021.0,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,United Kingdom,6
9,1,10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,24/9/2021,2021.0,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,United States,1

In [121]:
data['id_country'] = data['id_country'].astype('Int64')
data.head(5)

,plataforma,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,country_name,id_country
0,1,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25/9/2021,2020.0,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",United States,1
1,1,2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",South Africa,2
4,1,5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24/9/2021,2021.0,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,India,3
8,1,9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,24/9/2021,2021.0,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,United Kingdom,6
9,1,10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,24/9/2021,2021.0,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,United States,1

In [122]:

show_country_rel_data = data[['show_id', 'id_country']]

show_country_rel_data = show_country_rel_data.rename(columns={'show_id': 'id_show'})

show_country_rel_data.head(5)

   id_show  id_country
0        1           1
1        2           2
4        5           3
8        9           6
9       10           1

In [123]:
db_connection.save_data_to_postgres('show_country_rel', show_country_rel_data)

show_country_rel created